/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Custom reset */

body {
  background-color: bisque;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #387e80;
  padding-top: -10px;
}

h1 {
  text-align: center;
  font-size: 32px;
  padding: 20px 0;
  font-weight: bolder;
  color: #dbe85f;
}

div {
  margin: 0 auto;
  padding: 2.5%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: 500px;
  padding: 1rem;
  margin: 1%;
  background-color: white;
}

.img-set {
  width: 50%;
  width: 200px;
  margin: 0 auto;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
  color: gray;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

a {
  background-color: #387e80;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem 0;
}
